
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Roboto+Mono:wght@100&display=swap');

body {
    background-color: #2596be;
}

.Calci {
    position: absolute;
    left: 40%;
    top: 20%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    border: 2px solid #2596be;
    border-radius: 3vh;
    padding-left: 1.8vh;
    background-color: rgb(231, 231, 231);
}

.Display {
    display: inline-block;
    height: 15vh;
}

.btn-container {
    fill: rgba(77, 166, 255, 0.2);
    stroke: black;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    display: block;
    margin: 10px;
}

.btn-cols {
    transition: fill 0.3s ease;
    fill: rgba(77, 166, 255,0.3);
}

.btn-cols:hover {
    cursor: pointer;
    fill: rgba(77, 166, 255,0.7);
}

.btn-text {
    pointer-events: none;
}

.btn-wide {
    cursor: pointer;
    transition: fill 0.3s ease;
    fill: rgba(77,138,200,0.5);
    stroke-width: 0.3%;
    font-size: 1.5em;
}

.btn-wide:hover {
    fill: rgba(77,138,200,1);
}

.dec-svg {
    width: 10px;
    height: 10px;
}

.disp {
    fill: #D5E9FF;
    stroke: rgba(77,138,200,1);
}

.disp-upper {
    stroke: #628AB5;
    stroke-width: 0.5px;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size: 0.8vh;
}

.disp-lower {
    stroke: #0C1A32;
}